html
    head
        style
        script(a.js)
        script alert('abc')
        link(href='a.css',ref='stylesheet')
    body
     a(href='http://www.baidu.com') 官网
     div
        ul
            li
            li 
            li 
     div(style='width:200px') 29
         span 88
     div(style={width:'200px'}) 29