html
    head
        style
        script(a.js)
        link(href='a.css',ref='stylesheet')
    body
     a(href='http://www.baidu.com') 官网
     div
        ul
            li
            li 
            li 
     div