<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    window.onload=function(){
        // $("#download").click(function(){     // 1
        //     window.open("http://localhost:8080/1.txt")
        // });
     $("#download").click(function(){   // 2
        var $eleForm = $("<form method='get'></form>");
        $eleForm.attr("action","http://localhost:8080/1.txt");
        $(document.body).append($eleForm);
        $eleForm.submit();

     });
    }
        
</script>
<body>
    <a href="http://localhost:8080/1.txt" download="12.txt">点击下载</a>
    <button id ='download'>下载文件</button>
</body>
</html>