<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    window.onload=function(){
    $("#download").click(function(){
    $.ajax({url:"http://localhost:8080/1.txt",success:function(result){
        console.log(1)
       // alert('下载成功');
    }});
});
    }
</script>
<body>
    <button id ='download'>下载文件</button>
</body>
</html>