<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    window.onload=function(){
        // $("#download").click(function(){     // 1
        //     window.open("http://localhost:8080/1.txt")
        // });
    //  $("#download").click(function(){   // 2
    //     var $eleForm = $("<form method='get'></form>");
    //     $eleForm.attr("action","http://localhost:8080/1.txt");
    //     $(document.body).append($eleForm);
    //     $eleForm.submit();

    //  });

     $('#download').click(function () {
        var that = this;
        var page_url = 'http://localhost:8080/1.txt';
        var req = new XMLHttpRequest();
        req.open("get", page_url, true);
        //监听进度事件
        req.addEventListener("progress", function (evt) {
            if (evt.lengthComputable) {
                var percentComplete = evt.loaded / evt.total;
                console.log(percentComplete);
                $("#progressing").width((Math.floor(percentComplete * 100)) + "%");
                $("#progressing").html((Math.floor(percentComplete * 100)) + "%");
            }
        }, false);
        req.responseType = "blob";
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 200) {
                var filename = $(that).data('filename');
                if (typeof window.chrome !== 'undefined') {
                    // Chrome version
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(req.response);
                    link.download = filename;
                    link.click();
                } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    // IE version
                    var blob = new Blob([req.response], { type: 'application/force-download' });
                    window.navigator.msSaveBlob(blob, filename);
                } else {
                    // Firefox version
                    var file = new File([req.response], filename, { type: 'application/force-download' });
                    window.open(URL.createObjectURL(file));
                }
            }
        };
        req.send();
    });
    }
        
</script>
<body>
    <a href="http://localhost:8080/1.txt" download="12.txt">点击下载</a>
    <button id ='download' data-filename='崔天琪-放过.mp3'>下载文件</button>
    <div class='nav'><div id="progressing"></div></div>
    

</body>
</html>
<style>
    *{
        margin:0;
        padding: 0;
    }
    .nav{
        width:200px;
        height:20px;
    }
    #progressing{
        height:20px;
        width:0%;
        background: green;

    }



</style>